@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="row">
    <div>
        <p style="font-family:Courier New, Courier, monospace;  max-width:600px;
    word-wrap:break-word;">
            INPRINCIPIOCREAVITDEUSCAELUMETTERRAMTERRAAUTEMERATINANISETVACUAETTENEBRAEERANTSUPERFACIEMABYSSIETSPIRITUSDEIFEREBATURSUPERAQUASDIXITQUEDEUSFIATLUXETFACTAESTLUXETVIDITDEUSLUCEMQUODESSETBONA{ETDIVISITLUCEMATENEBRISAPPELLAVITQUELUCEMDIEMETTENEBRASNOCTEMFACTUMQUEESTVESPEREETMANEDIESUNUSDIXITQUOQUEDEUSFIATFIRMAMENTUMINMEDIOAQUARUMETDIVIDATAQUASABAQUISETFECITDEUSFIRMAMENTUMDIVISITQUEAQUASQUAEERANTSUBFIRMAMENTOABHISQUAEERANTS}UPERFIRMAMENTUMETFACTUMESTITAVOCAVITQUEDEUSFIRMAMENTUMCAELUMETFACTUMESTVESPEREETMANEDIESSECUNDUSDIXITVERODEUSCONGREGENTURAQUAEQUAESUBCAELOSUNTINLOCUMUNUMETAPPAREATARIDAETFACTUMESTITAETVOCAVITDEUSARIDAMTERRAMCONGREGATIONESQUEAQUARUMAPPELLAVITMARIAETVIDITDEUSQUODESSETBONUMETAITGERMINETTERRAHERBAMVIRENTEMETFACIENTEMSEMENETLIGNUMPOMIFERUMFACIENSFRUCTUMJUXTAGENUSSUUMCUJUSSEMENINSEMETIPSOSITSUPERTERRAMETFACTUMESTITAETPROTULITTERRAHERBAMVIRENTEMETFACIENTEMSEMENJUXT{AGENUSSUUMLIGNUMQUEFACIENSFRUCTUMETHABENSUNUMQUODQUESEMENTEMSECUNDUMSPECIEMSUAMETVIDITDEUSQUODESSETBONUMETFACTUMESTVESPEREETMANEDIESTERTIUSDIXITAUTEMDEUSFIANTLUMINARI}AINFIRMAMENTOCAELIETDIVIDANTDIEMACNOCTEMETSINTINSIGNAETTEMPORAETDIESETANNOSUTLUCEANTINFIRMAMENTOCAELIETILLUMINENTTERRAMETFACTUMESTITAFECITQUEDEUSDUOLUMINA}RIAMAGNALUMINAREMAJUSUTPRAEESSETDIEIETLUMINAREMINUSUTPRAEESSETNOCTIETSTELLASETPOSUITEASINFIRMAMENTOCAELIUTLUCERENTS{UPERTERRAMETPRAEESSENTDIEIACNOCTIETDIVIDERENTLUCEMACTENEBRASETVIDITDEUSQUODESSETBONUMETFACTUMESTVESPEREETMANEDIESQUARTUSDIXITETIAMDEUSPRODUCANTAQUAEREPTILEANIMAEVIVENTISETVOLATILESUPERTERRAMSUBFIRMAMENTOCAELICREAVITQUEDEUSCETEGRANDIAETOMNEMANIMAMVIVENTEMATQUEMOTABILEMQUAMPRODUXERANTAQUAEINSPECIESSUASETOMNEVOLATILESECUNDUMGENUSSUUMETVIDITDEUSQUODESSETBONUMBENEDIXITQUEEISDICENSCRESCITEETMULTIPLICAMINIETREPL}ETEAQUASMARISAVESQUEMULTIPLICENTURSUPERTERRAMETFACTUMESTVESPEREETMANEDIESQUINTUSDIXITQUOQUEDEUSPRODUCATTERRAANIMAMVIVENTEMINGENERESUOJUMENTAETREPTILIAETBESTIASTERRAESECUNDUMSPECIESSUASFACTUMQUEESTITAETFECITDEUSBESTIASTERRAEJUXTASPECIESSUASETJUMENTAETOMNEREPTILETERRAEINGENERESUOETVIDITDEUSQUODESSETBONUMETAITFACIAMUSHOMINEMADIMAGINEMETSIMILITUDINEMNOSTRAMETPRAESITPISCIBUSMARISETVOLATILIBUSCAELIETBESTIISUNIVERSAEQUETERRAEOMNIQUEREPTILIQUODMOVETURINTERRAETCREAVITDEUSHOM{INEMADIMAGINEMSUAMADIMAGINEMDEICREAVITILLUMMASCULUMETFEMINAMCREAVITEOSBENEDIXITQUEILLISDEUSETAITCRESCITEETMULTIPLICAMINIETREPLETETERRAMETSUBJICITEEAMETDOMINAMINIPISCIBUSMARISETVOLATILIBUSCAELIETUNIVERSISANIMANTIBU}SQUAEMOVENTURSUPERTERRAMDIXITQUEDEUSECCEDEDIVOBISOMNEMHERBAMAFFERENTEMSEMENSUPERTERRAMETUNIVERSALIGNAQUAEHABENTINSEMETIPSISSEMENTEMGENERISSUIUTSINTVOBISINESCAMETCUNCTISANIMANTIBUSTERRAEOMNIQUEVOLUCRICAELIETUNIVERSISQUAE{MOVENTURINTERRAETINQUIBUSESTANIMAVIVENSUTHABEANTADVESCENDUMETFACTUMESTITAVIDITQUEDEUSCUNCTAQUAEFECERATETERANTVALDEBONAE}TFACTUMES}TVESPEREETMANEDIESSEXTUS
        </p>
    </div>
   
</div>
